/*
!/.gitignore
!/.bash_aliases
!/.bash_profile
!/.vimrc
!/.zshrc
!/.zprofile
!/.p10k.zsh
!/.ssh/config
!/images
!/iTerm-Profiles.json
images/Vincent.jpeg
images/.DS_Store
!/mywireshark.zip
!/.pystartup
~/.zprofile
