[user]
	name = Vincent Ricci
	email = vricci@cisco.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	hist = log --all --decorate --oneline --graph
	track = ls-tree --full-tree --name-only -r HEAD
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	trackd = ls-tree -rt HEAD:./ | awk '{if ($2 == "tree") print $4;}'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[pull]
	rebase = true
[color]
	ui = auto
